<app-navbar></app-navbar>

  <div class="container">
    <div class="row">
      <div class="col-2">
        <div class="card text-center">
          <div class="card-header fs-1 font1">
            {{ question?.answers?.length }}

          </div>
          <div class="card-body" >
            <h5 class="card-text font1">Total Respuestas</h5>
          </div>
          <div class="card-footer text-muted">
          </div>
        </div>
      </div>
      <div class="col-5">
        <div class="card text-center">
          <div class="card-header fs-1 font1">
            {{ question?.question }}

          </div>
          <div class="card-body" style="margin-right: 40px; margin-left: 40px">
            <h5 class="card-text font1">Tipo: {{ question?.type }}</h5>
            <p class="card-text font1">Categoria: {{ question?.category }}</p>
          </div>
          <div class="card-footer text-muted">
            <app-answer [item]="question"></app-answer>
          </div>
        </div>
      </div>
      <div class="col-5">
        <div class="card text-center">
          <div class="card-header fs-1 font1">
            Respuestas:
          </div>
          <div class="">
            <cdk-virtual-scroll-viewport itemSize="150" class="viewport">
              <div style="margin: 16px;"></div>
              <div *cdkVirtualFor="let answer of answers | async">
                <div class="card-body">
                  {{ answer.answer }}
                  <div class="footer-answer">
                    <p-rating [cancel]="false" [(ngModel)]="answer.position" [disabled]="true"></p-rating>
                    <app-edit-answer [answer]="answer"></app-edit-answer>
                  </div>
                </div>
                <hr>
              </div>
            </cdk-virtual-scroll-viewport>
          </div>
        </div>
      </div>

    </div>
  </div>

